@import '../variables.scss';

.aboutme-header {
  @include secHeader-sm($white-lw, $typewriter);
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-left: 7%;
}

.bg-img-cont-am {
  position: absolute;
  z-index: 1;
  width:100%;
  height: 90%;
  align-items: start;
}

.portrait-img-am {
  width: 48%;
  height: 100%;
  object-fit: contain;
  margin-left: 50%;
  margin-right: 2%;
}

.aboutme-title {
  @include subHeader-bold($white-lw, $typewriter);
  @include margins(8%, 2%)
}

.aboutme-bio {
  @include subHeader-bold($white-lw, $typewriter);
  @include rounded();
  margin-right: 30%;
  margin-left: 5%;
  background-color: $dark-drk-st;
  z-index: 2;
  @include padding(3%, 2%);
}

.socials-comp {
  margin-left: 3%;
}

.cont-comp-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 2%;
  margin-left: 8%;
  justify-content: start;
}

.cont-comp-am {
  margin-bottom: 5%;
  background-color: $dark;
  @include rounded();
  @include padding(2%, 1%);
  padding-right: 6%;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}