@import '../variables.scss';

.link-sec {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-left: 30%;
  height: 100%;
}

.link-header {
  @include header-lg($dark-drk, $writing);
}

.link-subheader {
  @include secHeader($dark-drk, $alt);
}

.link-item {
  // @include pill($dark);
  // height: 20%;
  // @include padding(6%, 1.5%);
  @include btn-sh($dark, $white, $comf, $pink);
  @include margins(5%, 7%);

  * {
    @include secHeader-sm($white, $comf);
    font-size: 1.35vw;
    letter-spacing: 0.15vw;
    // margin-top: 1%;
    // &:hover {
    //   @include hover($pop, $dark-drk);
    // }
  }

  &:hover {
    @include hover($pop, $dark-drk);
  }
}