@import '../variables.scss';


.proj-pg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.bg-img-cont-proj {
  width: 100%;
  padding-bottom: 10%;
  z-index: 1;
  position: absolute;
  margin: 5%;
}

.cloud-img {
  padding: 3%;
}

.proj-pg-cont {
  z-index: 2;
  margin: 5%;
  margin-top: 0%;
}

.sec-header-txt {
  @include header-lg($pop, $alt);
  font-size: 2.8vw;
  margin-left: 30%;
}

.proj {

  &--proj-page {

    .project-item {
      background-color: $white-st;
    }
    
    .sec-header {
      @include bg-boi($dark, $writing);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      margin-bottom: 1%;
    }
    
    .proj-name {
      @include header-lg($dark, $comf);
      font-weight: 500;
      margin-left: 1%;
      z-index: 2;
    }
    
    .links-ts-sec {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    
    .proj-links {
      grid-column: span 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
    
      .proj-link-item {
        @include pill($pop);
        @include text-norm-bold($dark, $comf);
        margin-bottom: 2%;
        letter-spacing: 0.15vw;
    
        &:hover {
          @include hover($dark, $white);
        }
      }
    
    }
    
    .proj-ts {
      grid-column: span 2;
      @include text-norm-bold($dark, $comf);
      font-size: 1.08vw;
      margin-right: 6%;
      margin-bottom: 2%;
      display: flex;
      justify-content: end;
      z-index: 2;
    }
    
    .proj-sk {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      width: 75%;
    
      * {
        @include text-norm($white, $comf);
        @include pill($dark);
        @include rounded-more();
        @include padding(2%, .5%);
        font-size: 1vw;
        margin-right: 2%;
      }
      z-index: 2;
    }
    
    .proj-desc {
      @include text-norm-bold($dark, $comf);
      margin-right: 6%;
      margin-bottom: 2%;
      z-index: 2;
    }
  }

  &--home {

      display: grid;
      grid-template-columns: repeat(7, 1fr);

    // .carousel {
      // display: flex !important;
      // width: 100vw;
      // transition: transform 1s ease;
      // flex-direction: row;
      // flex-wrap: nowrap;
      // align-items: center;
      // overflow-x: auto
      
    // }

    .arrow-btn {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    button {
      @include btn-gen($dark, $white, $alt);
      width: 3.5vw;
      height: 3.5vw;
    }

    .project-item {
      background-color: $white-st;
      @include rounded-less();
      width: 50vw;
      grid-column: span 5;
      // flex: 1;
      // flex: 0 0 100vw;
    }

    .sec-header {
      @include bg-boi($dark, $writing);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      margin-bottom: 1%;
    }

    .proj-name {
      @include header-lg($dark, $alt);
      font-weight: 500;
      margin-left: 1%;
      z-index: 2;
    }

    .proj-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;

      .proj-link-item {
        @include pill($pop);
        @include padding(2%, 1%);
        @include text-norm-bold($dark, $comf);
        margin-bottom: 2%;
        letter-spacing: 0.15vw;

        &:hover {
          @include hover($dark, $white);
        }
      }

    }

    .proj-ts {
      @include text-norm-bold($dark, $comf);
      font-size: 1.08vw;
      margin-right: 6%;
      margin-bottom: 2%;
      display: flex;
      justify-content: start;
      z-index: 2;
    }

    .proj-sk {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      width: 75%;

      * {
        @include text-norm($white, $comf);
        @include pill($dark);
        @include rounded-more();
        @include padding(2%, .5%);
        font-size: 1vw;
        margin-right: 2%;
      }
      z-index: 2;
    }

    .proj-desc {
      @include text-norm-bold($dark, $comf);
      margin-right: 6%;
      margin-bottom: 2%;
      z-index: 2;
    }
  }
}


