@import '../variables.scss';


.proj-pg {
  // background-image: url(../../public/Clouds.png);
  // background-size: cover;
  // background-position: center;
  // background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.bg-img-cont-proj {
  width: 100%;
  padding-bottom: 10%;
  // height: 80%;
  z-index: 1;
  position: absolute;
  margin: 5%;
}

.cloud-img {
  padding: 3%;
  // height: 80%;
  // padding-bottom: 10%;
}

.proj-pg-cont {
  z-index: 2;
  margin: 5%;
}

.project-item {
  background-color: $white-st;
}

.sec-header {
  @include bg-boi($dark, $writing);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  margin-bottom: 1%;
}

.proj-name {
  @include header-lg($dark, $typewriter);
  font-weight: 500;
  margin-left: 1%;
  z-index: 2;
}

.links-ts-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.proj-links {
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;

  .proj-link-item {
    @include pill($pop);
    @include text-norm-bold($dark, $typewriter);
    margin-bottom: 2%;
    letter-spacing: 0.15vw;

    &:hover {
      @include hover($dark, $white);
    }
  }

}

.proj-ts {
  grid-column: span 2;
  @include text-norm-bold($dark, $typewriter);
  font-size: 1.08vw;
  margin-right: 6%;
  margin-bottom: 2%;
  display: flex;
  justify-content: end;
  z-index: 2;
}

.proj-sk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: 75%;

  * {
    @include text-norm($white, $typewriter);
    @include pill($dark);
    @include rounded-more();
    @include padding(2%, .5%);
    font-size: 1vw;
    margin-right: 2%;
  }
  z-index: 2;
}

.proj-desc {
  @include text-norm($dark, $typewriter);
  margin-right: 6%;
  margin-bottom: 2%;
  z-index: 2;
}



