@import '../variables.scss';

.res-cont {
  @include rounded;
  position: relative;
}

.page-header {
  @include bg-boi($pop, $writing);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.res-bg-img-cont {
  position: absolute;
  z-index: 1;
  width:60%;
  height: 45%;
  margin-top: 5%;
}

.portrait-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.resume-components {
  z-index: 2;
}

.skills-sec { 
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  gap: 1rem;
  align-items: center;
  margin: 2%;
}

.resume-btn {
  margin-bottom: 80%;
  margin-top: 0%;
  margin-left: 45%;
  height: 20%; 
  width: 70%;
  @include btn-gen($pop, $white-ew, $typewriter);
  font-size: 1.5vw;
  letter-spacing: .15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: span 12;
  
  * {
    @include margins(2%, 1%);
    font-size: 1.2vw;
  }
  
  &:hover {
    @include hover($dark, $white);
  }
}

.socials-comp {
  grid-column: span 11;
  align-self: flex-start;
  justify-content: center;
  height: 50%;

  * {
    * {
      &:hover {
        @include hover($pink, $white);
      }
    }
  }
}

.skills-comp {
  grid-column: span 13;
  margin-left: 2%;
}

@media (max-width: 788px) {
  .skills-sec {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75vw;
  }

  .resume-btn {
    width: 15vw;
    margin: .1vw;
  }

  .socials-comp {
    height: 15vw;
    width: 25vw;
  }

  .skills-comp {
    width: 40vw;
    margin-left: 40vw;
    margin-right: 5vw;
  }
}

.ed-sec-res {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2%;
    align-items: center;
}

.quote {
  padding: 2%;
  margin: 2%;
  @include text-norm-bold($white, $typewriter);
  background-color: $dark-drk-st;
  @include rounded-less();
}

.res-q {
  margin-left: 30%;
}

.exp-sec {
  grid-column: span 2;
}

.ed-comp {
  grid-column: span 2;
  padding-bottom: 3%;
}

.cert-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 2%;
  justify-content: space-around;

  .cert-comp {
    flex-grow: 3; 
  }

  .cont-comp {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;

    background-color: $dark;
    @include rounded;
    @include padding(1%, 1%);
  }
}
