@import '../variables.scss';

.res-cont {
  @include rounded;
  position: relative;
}

.page-header {
  @include bg-boi($pop, $writing);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}

.res-bg-img-cont {
  position: absolute;
  z-index: 1;
  width:60%;
  height: 45%;
}

.portrait-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.resume-components {
  z-index: 2;
}

.skills-sec { 
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  gap: 1rem;
  align-items: center;
  margin: 2%;
}

.socials-comp {
  grid-column: span 23;
  margin-left: 55%;
  align-self: flex-start;
  height: 50%;

  * {
    * {
      &:hover {
        @include hover($pink, $white);
      }
    }

  }
  

}

.skills-comp {
  grid-column: span 13;
  margin-left: 2%;
}

.ed-sec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2%;
    align-items: center;
}

.resume-btn {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 30%; 
  width: 50;
  @include btn-gen($pink, $white, $writing);
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  * {
    @include margins(2%, 1%);
  }
}

.exp-sec {
  grid-column: span 2;
}

.ed-comp {
  grid-column: span 2;
}

.cert-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 2%;
  justify-content: space-around;

  .cert-comp {
    flex-grow: 3; 
  }

  .cont-comp {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;

    background-color: $dark;
    @include rounded;
    @include padding(1%, 1%);
  }
}
