@import '../variables.scss';
@import './skills.scss';

.cert {
  // .cert-cont {
  //   background-color: $white;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }

  // .cert-header {
  //   margin-top: 2%;
  // }

  // .ci-cont {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  // }

  // .cert-item {
  //   margin: 4%;
  // }


  &--resume {
    @extend .cert;
    @include rounded;

    .cert-cont {
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cert-header {
      @include header-lg($dark, $writing);
      margin-top: 2%;
    }

    .ci-cont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .cert-item {
      @include pill($white, $blue);
      margin: 4%;
    }
  }
}
