@import '../variables.scss';

.contact-info {
  &--aboutme {
    margin: 2%;

    .cont-item-cont {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      .cont-item {
        @include pill($white);
        @include text-norm($dark, $typewriter);
        display: flex;
        flex-direction: row;
        align-items: center;
        @include margins(3%, 7%);
        @include padding(7%, 3%);

        * {
          text-wrap: nowrap;
        }
      }
    }
  }

  &--resume {
    margin: 2%;

    .cont-item-cont {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;

      .cont-item {
        @include pill($white);
        @include text-norm($dark, $typewriter);
        display: flex;
        flex-direction: row;
        align-items: center;
        @include margins(3%, 5%);
        @include padding(7%, 3%);

        * {
          text-wrap: nowrap;
        }
      }
    }
  }


  // &--resume {
  //   margin: 2%;

  //   .cont-item-cont {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: start;
  //     justify-content: space-around;

  //     .cont-item {
  //       @include pill($white);
  //       @include text-norm($dark, $typewriter);
  //       display: flex;
  //       flex-direction: row;
  //       align-items: center;
  //       margin: 3%;

  //       * {
  //         text-wrap: nowrap;
  //       }
  //     }
  //   }
  // }
}

.li-item {
  &:hover {
    @include hover($pink, $dark);
  }
}