@import '../variables.scss';

.contact-info {
  &--resume {
    background-color: $dark;
    @include rounded;
    @include padding(2%, 2%);

    display: flex;
    flex-direction: column;
    align-items: start;

    div {
      @include pill($white);
      @include text-norm($dark, $typewriter);
    }
  }
}