@import '../variables.scss';

.ed {
  &--resume {
    // @extend .ed;

    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include rounded;

    .main-header {
      @include header-lg($pink, $writing);
      margin-top: 2%;
    }

    .ei-cont {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .ed-item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      margin: 1%;
      align-items: center;
    }

    .title {
      @include subHeader($dark, $typewriter);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }

    .sparkle {
      width: 4rem;
      height: 4rem;
      padding: 2%;
      margin-right: 5%;
    }

    .school {
      margin-right: 20%;
    }

    .desc {
      @include text-smaller($pink, $typewriter);
      margin-right: 6%;
      display: flex;
      justify-content: end;
    }

    .date {
      @include text-smaller($pink, $norm);
      font-style: italic;
    }
}


}