@import '../variables.scss';

.ex-element {
  // display: flex;
  // flex-direction: row;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);

  .ex-title {
    // flex-grow: 1;
    @include subHeader($pop, $norm);
  }

  .ex-desc {
    // grid-column: span 2;
    // flex-grow: 4;
  }
}

.ex-header {
  @include header-lg($pop, $writing);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ex-cont {

}