@import '../variables.scss';

.exp {
  &--resume {

    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    @include rounded;

    .exp-header {
      @include header-lg($pink, $writing);
    }

    .exp-items-cont {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .exp-element {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin: 1%;
      align-items: center;
    }

    .title {
      @include subHeader($dark, $typewriter);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }

    .sparkle {
      width: 20%;
      height: 20%;
      padding: 2%;
      margin-right: 5%;
    }

    .date{
      @include subHeader($white, $typewriter);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }

    .info {
      grid-column: span 3;
      // flex-grow: 4;
      // align-items: center;

    }

    .sub-title {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      p {
        @include text-norm($white, $typewriter);
        display: flex;
        justify-content: end;
      }

      .divider {
        margin-right: 2%;
        margin-left: 2%;
      }

    }

    .desc-info {
      margin-right: 6%;
      p {
        @include text-sm($dark, $typewriter);
        display: flex;
        justify-content: end;
      }

      .desc-bullets {
        margin-top: 2%;
        font-style: italic;
        // font-family: $norm;
      }
    }

  }
}
