@import '../variables.scss';

// .sk-cont {
  // display: flex;
  // flex-direction: row;
  // justify-items: center;
// }

.sk-subcont {
  // width: 50%;
  // justify-items: center;
  display: flex;
  flex-direction: row;
  margin: 2%;
}


.skill--soft{
  @include pill($blue, $dark);
}

.skill--tech {
  @include pill($blue, $white);
}

.skill-txt {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subheader {
  @include secHeader($yellow, $norm);
  margin-bottom: 4%;
}