@import '../variables.scss';

.skills {
  @include padding(3%, 3%);

  &--home {
    @include rounded;

    .subheader {
      @include header-lg($dark, $alt);
      margin-left: 10%;
    }

    .sk-subcont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      @include margins(0%, 5%);
    }

    .skill--soft {
      @include pill-lg($dark);
    }
    
    .skill--tech{
        @include pill-lg($pink);
    }

    .skill-txt {
      display: flex;
      
      &--soft {
        @include text-norm($white, $comf);
      }

      &--tech {
        @include text-norm-bold($white-ew, $comf);
      }
    }
  }

  &--resume {
    margin-right: 10%;
    background-color: $pink;
    @include rounded;
    @include padding(4%, 4%);

    .sk-subcont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
    }

    .skill--soft {
      @include pill($dark);
    }
    
    .skill--tech{
      @include pill($white);
    }

    .skill-txt {
      display: flex;
      
      &--soft {
        @include text-norm($white-ew, $typewriter);
      }

      &--tech {
        @include text-norm-bold($pink-dark, $typewriter);
      }
    }

    .subheader {
      @include header-lg($dark, $typewriter);
      margin-left: 2%;
      margin-bottom: 2%;
    }
  }
}
