@import '../variables.scss';

// .sk-cont {
  // display: flex;
  // flex-direction: row;
  // justify-items: center;
// }

.skills {
  @include padding(3%, 3%);

  &--home {
    // margin-right: 10%;
    // background-color: $white;
    @include rounded;
    // @include padding(4%, 4%);
    // width: 100%;
    // height: 50%;

    .subheader {
      @include header-lg($dark, $writing);
      font-size: 3vw;
      margin-left: 10%;
      // margin-bottom: 6%;
    }

    // .sk-cont {

    // }

    .sk-subcont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      @include margins(0%, 5%);
    }

    .skill--soft {
      @include pill-lg($dark);
    }
    
    .skill--tech{
        @include pill($pink);
        @include padding(2.5%, 1%);
        @include rounded-more();
    }

    .skill-txt {
      display: flex;
      
      &--soft {
        @include text-norm($white, $typewriter);
      }

      &--tech {
        @include text-norm-bold($white-ew, $typewriter);
      }
    }
  }

  &--resume {
    margin-right: 10%;
    background-color: $pink;
    @include rounded;
    @include padding(4%, 4%);

    .sk-subcont {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
    }

    .skill--soft {
      @include pill($dark);
    }
    
    .skill--tech{
      @include pill($white);
    }

    .skill-txt {
      display: flex;
      // margin-left: auto;
      // margin-right: auto;
      // text-align: center;
      
      &--soft {
        @include text-norm($white, $typewriter);
      }

      &--tech {
        @include text-norm-bold($pink-dark, $typewriter);
      }
    }

    .subheader {
      @include header-lg($dark, $writing);
      margin-left: 2%;
      margin-bottom: 2%;
    }
  }
}
