@import '../variables.scss';

.socials {
  &--home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 100%;

    .social-item {
      @include pill($pop);
      @include text-norm-bold($white, $typewriter);
      @include margins(0%, 5%);
      @include padding(6%, 1.5%);
      letter-spacing: 0.2vw;
      height: 20%;

      * {
        @include secHeader-sm($white, $typewriter);
        font-size: 1.35vw;
        letter-spacing: 0.15vw;
        margin-top: 1%;
      }

      &:hover {
        @include hover($dark, $white);
      }
    }
  }

  &--aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 3%;

    .social-item {
      @include pill($pop);
      @include text-norm-bold($white, $typewriter);
      @include margins(2%, 2%);

      &:hover {
        @include hover($dark, $white);
      }

      * {
        &:hover {
          @include hover($dark, $white);
        }
      }
    }
  }

  &--resume {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-left: 30%;
    height: 100%;

    .social-item {
      @include pill($dark);
      @include margins(5%, 2%);
      height: 20%;
      @include padding(6%, 1.5%);

      * {
        @include secHeader-sm($white, $typewriter);
        font-size: 1.35vw;
        letter-spacing: 0.15vw;
        margin-top: 1%;
        &:hover {
          @include hover($pop, $dark-drk);
        }
      }

      &:hover {
        @include hover($pop, $dark-drk);
      }
    }
  }
}