@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.css';
@import './navbar';
@import './variables';
@import './view.scss';
@import './components/education.scss';
@import './components/skills.scss';
@import './components/experience.scss';
@import './components/certifications.scss';
@import './components/contactInfo.scss';
@import './pages/resume.scss';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../utils/images/bgImgExtend-shorter.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
