@use './navbar';
@use './variables';
@use './view.scss';
@use './components/education.scss';
@use './components/skills.scss';
@use './components/experience.scss';
@use './components/certifications.scss';
@use './components/contactInfo.scss';
@use './components/socials.scss';
@use './components/sparkles.scss';
@use './pages/resume.scss';
@use './pages/aboutme.scss';
@use './pages/home.scss';
@use './pages/projects.scss';
@use './pages/links.scss';

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;


  height: 100vh;
  background: none;
  position: relative;
}

// body:-webkit-scrollbar {
//   display: none;
// }



// body:-webkit-scrollbar-thumb:hover {
//   display: none;
// }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
