@import './variables';

.nav-container {
  height: 2%;
}

.navbar {
  display: flex;
  flex-direction: column;
  @include padding(1%, 1%);
  background-color: $white;
  @include rounded-more();
  width: 100%;

  z-index: 1000;
  flex: 0 0 auto;

  .first-teir {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    // align-items: flex-end;
    width: 100%;

    .nav-tabs {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-self: flex-end;
      width: 100%;
      align-items: flex-end; 
      padding-bottom: 2%;
      border-bottom: none;
    }

    .coll-item {
      display: none;
    }
  

    div {
      margin-left: 1rem;
      margin-right: 1rem;
      @include text-sm($pink, $writing);
      font-size: 1.15rem;
      font-weight: bold;
      
      &:hover {
        @include hover($white, $dark);
      }
    }
  
    .logo {
      display: flex;
      align-self: flex-start;
      @include header-lg($pink, $writing);
      align-items: center;
    }
  }

  .x {
    &--hidden {
      display: none;
    }

    &--shown{
      display:flex;
    }
  }

  .x-icon {
    justify-content: flex-end;
    margin-bottom: 1%;
    width:50%;
    height: 50%;

    &--hidden {
      display: none;
    }

    &--shown{
      display:flex;
    }
  }

  .burger {
    justify-content: flex-end;
    width:40%;
    height: 65%;

    &--hidden {
      display: none;
    }

    &--shown{
      display:flex;
    }
  }
}

.res-btn-nav {
  @include btn-gen($pop, $white, $writing);
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5vw;

  &:hover {
    @include hover($dark, $white);
  }
}

.email-nav {
  align-self: flex-end;
  margin-right: 3%;
  @include text-norm($pop, $comf);
  // font-size: .5rem;
  font-size: 1.4vw;
}
