@import './variables';

.nav-container {
  height: 2%;
}

.navbar {
  display: flex;
  flex-direction: column;
  // align-items: s;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;

  .first-teir {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // margin-top: 2%; //causes gap
    // flex: 1;
    // align-items: center; 

    .nav-tabs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-self: flex-end;
      width: 100%;
      align-items: center; 
      padding-bottom: 2%;
      border-bottom: none;
    }

    div {
      margin-left: 1rem;
      margin-right: 1rem;
      @include secHeader-sm($pink, $writing);
      font-weight: bold;
      
      &:hover {
        @include hover($white, $dark);
      }
    }
  
    .logo {
      margin-right: 15%;
      display: flex;
      align-self: flex-start;
      @include bg-boi($pink, $writing);
      align-items: center;
    }
  }

  // .sparkle-nav {
  //   width: 22%;
  //   height: 22%;
  //   // padding: 2%;
  //   // margin-right: 5%;
  // }
}

.res-btn-nav {
  @include btn-gen($pop, $white, $writing);
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5vw;

  &:hover {
    @include hover($dark, $white);
  }
}

.email-nav {
  align-self: flex-end;
  margin-right: 3%;
  @include subHeader-bold($pop, $typewriter);
  font-size: 1.4vw;
}
