//colors
$white: #e2cfcb;
$pink: #c99aa1;
$pop: #bf6152;
$blue: #576d7d;
$yellow: #fad954;
$dark: #413a49;

//text
$norm: Verdana, Geneva, sans-serif;
$writing: "Segoe Script", cursive;
$typewriter: 'Lucida Sans Typewriter', 'Lucida Console', monospace;
// $brush: 'French Script MT', cursive;

@mixin bg-boi ($txtcolor, $font) {
  // font-size: 250%;
  font-size: 3.5vw;
  color: $txtcolor;
  font-weight: 700;
  font-family: $font;
}

@mixin header-lg ($txtcolor, $font) {
  // font-size: 170%;
  font-size: 2.5vw;
  color: $txtcolor;
  font-weight: 700;
  font-family: $font;
}

@mixin secHeader ($txtcolor, $font) {
  font-size: 150%;
  color: $txtcolor;
  font-weight: 500;
  font-family: $font;
}

@mixin secHeader-sm ($txtcolor, $font) {
  font-size: 130%;
  color: $txtcolor;
  font-weight: 500;
  font-family: $font;
}

@mixin subHeader ($txtcolor, $font) {
  // font-size: 100%;
  font-size: 1.15vw;
  color: $txtcolor;
  font-weight: 500;
  font-family: $font;
}

@mixin subHeader-bold ($txtcolor, $font) {
  @include subHeader($txtcolor, $font);
  font-weight: bold;
}

@mixin text-norm-bold ($txtcolor, $font) {
  // font-size: 90%;
  font-size: 1vw;
  color: $txtcolor;
  font-weight: bold;
  font-family: $font;
}

@mixin text-norm ($txtcolor, $font) {
  // font-size: 90%;
  font-size: 1vw;
  color: $txtcolor;
  font-weight: lighter;
  font-family: $font;
}

@mixin text-sm ($txtcolor, $font) {
  font-size: 80%;
  color: $txtcolor;
  font-weight: 400;
  font-family: $font;
}

@mixin text-smaller ($txtcolor, $font) {
  font-size: 70%;
  color: $txtcolor;
  font-weight: 400;
  font-family: $font;
}

//styles

@mixin rounded () {
  border-radius: 1.3rem;
}

@mixin margins ($sides, $tb) {
  margin-top: $tb;
  margin-bottom: $tb;
  margin-left: $sides;
  margin-right: $sides;
}

@mixin padding ($sides, $tb) {
  padding-top: $tb;
  padding-bottom: $tb;
  padding-left: $sides;
  padding-right: $sides;
}

@mixin pill ($bg-color) {
  border-radius: 1rem;
  font-weight: 500;
  margin: 0.5rem;
  @include padding(4%, 1.5%);
  display: flex;
  justify-content: center;
  background-color: $bg-color;
  flex-wrap: wrap;
}

// buttons
@mixin btn-gen ($color, $txt-color, $font) {
  background-color: $color;
  font-family: $font;
  color: $txt-color;
  font-size: 1vw;
  font-weight: bold;
  border-radius: .5rem;
  @include padding(2%, 1%);
}