//colors
$white: #e2cfcb;
$pink: #c99aa1;
$pop: #bf6152;
$blue: #576d7d;
$yellow: #fad954;
$dark: #413a49;

//text
$norm: 'Helvetica', Arial, sans-serif;
$writing: "Segoe Script", cursive;
// $brush: 'French Script MT', cursive;

@mixin header-lg ($txtcolor, $font) {
  font-size: 170%;
  color: $txtcolor;
  font-weight: 700;
  font-family: $font;
}

@mixin secHeader ($txtcolor, $font) {
  font-size: 150%;
  color: $txtcolor;
  font-weight: 500;
  font-family: $font;
}

@mixin subHeader ($txtcolor, $font) {
  font-size: 100%;
  color: $txtcolor;
  font-weight: 500;
  font-family: $font;
}

@mixin text-norm ($txtcolor, $font) {
  font-size: 90%;
  color: $txtcolor;
  font-weight: 400;
  font-family: $font;
}

@mixin text-sm ($txtcolor, $font) {
  font-size: 70%;
  color: $txtcolor;
  font-weight: 400;
  font-family: $font;
}

//styles

@mixin rounded () {
  border-radius: 0.35rem;
}

@mixin padding ($sides, $tb) {
  padding-top: $tb;
  padding-bottom: $tb;
  padding-left: $sides;
  padding-right: $sides;
}

// buttons
@mixin btn-gen ($color) {
  background-color: $color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  @include rounded;
}